@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

* {
  padding: 0;
  margin: 0;
  background-color: #212121;
  font-family: 'HK Grotesk', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  
}

.nav-link {
  overflow:hidden;
  text-align: left;
  flex: 6;
  z-index: 5;
}

.nav-link li {
  display:inline-block;
  padding: 20px 20px;
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.side-nav.active {
  position: fixed;
}

.side-nav-link li {
  padding-top: 20px;
  padding-left: 40px;
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
}

.nav-item:link {
  color: #fff;
  text-decoration: none;
}

.nav-item:visited {
  color: #fff;
  text-decoration: none;
}

.side-nav-item:link {
  text-decoration: none;
}

.side-nav-item:visited {
  text-decoration: none;
}

.nav-index {
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 700;
  font-size: 12px;
  vertical-align: super;
}

.menu {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 999;
  transition: all 0.5s;
}

.menu span {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

.menu span:nth-child(1) {
  transform: translateY(-15px);
  width: 20px;
  left: 10px;
}

.menu span:nth-child(2) {
  transform: translateY(15px);
  width: 20px;
  left: 10px;
}

.menu.active span:nth-child(1) {
  width: 30px;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s;
}

.menu.active span:nth-child(2) {
  width: 30px;
  transform: translateY(0px) rotate(315deg);
  transition-delay: 0.25s;
}

.menu.active span:nth-child(3) {
  transform: translateX(50px);
}

.side-nav {
  height: 100%;
  width: 70%;
  position: absolute; 
  z-index: 10;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  background-color: #fff;
  transform: translateX(-110%);
}

.side-nav.active {
  transform: translateX(0%);
}

.side-nav-link {
  background-color: transparent;
}

.side-nav .side-nav-link {
  display: none;
}

.side-nav.active .side-nav-link {
  display: block;
}

.side-nav-link.active li {
  background-color: #fff;
  
}

.side-nav-link li a {
  background-color: #fff;
}

.logo {
  flex: 2;
  padding: 20px 0px 20px 50px;
  z-index: 5;
}

.logo font {
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.logo a:link {
  text-decoration: none;
} 

.logo a:visited {
  text-decoration: none;
}

.name {
  color: #64b5f6;
}

.dot {
  color: #fff;
}

.underscore {
  color: #d500f9;
}

.hero {
  text-align: center;
  align-items: center;
}

.hero-text {
  position: absolute;
  margin-top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  z-index: 5;
}

.hero-name {
  width:max-content;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 800;
  font-size: 140px;
  background-color: transparent;
  color: #fff;
  line-height: 80%;
}

.hero-detail {
  background-color: transparent;
  margin-top: 30px;
  line-height: 100%;
  position: relative;
  font-weight: 800;
  font-size: 25px;
  color: #fff;
}

.hex-container{
  position: relative;
  overflow: hidden;
  height: 100%;
  animation: animate 4s linear infinite;
}
@keyframes animate{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.hex-row{
  display: inline-flex;
  margin-left: -50px;
  margin-top: -32px;
  overflow: hidden;
}
.hex-row:nth-child(even){
  margin-left: 1px;
}
.hex{
  position: relative;
  height: 110px;
  width: 100px;
  background: #212121;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}
.hex:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  pointer-events: none;
}
.hex:hover{
  transition: 0s;
  background: #0f0;
  cursor: alias;
}

.scroll-btn {
  position: absolute;
  height: 50px;
  width: 30px;
  border: 3px solid #ffffff;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 50px;
  border-radius: 40px;
}
.scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 10px;
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: move-down 2s infinite;
}
@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(25px);
    opacity: 0;
  }
}

#section-2 {
  background-color: #111315;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}


.container {
  padding-left: 15%;
  padding-right: 15%;
}

#skill {
  margin-top: 150px;
  text-align: center;
  align-items: center;
  margin-bottom: 100px;
}

.skill-head font {
  font-size: 100px;
  font-weight: 800;
  color: #fff;
}

.skill-table {
  margin-top: 30px;
  display: flex;
  
}

.skill-card {
  flex: 1;
  border: 2px solid #fff;
  padding: 30px 30px 60px 30px;
  background-color: transparent;
}

.skill-title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.skill-details {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: start;
  margin-top: 20px;
}

.skill-h3 {
  font-size: 14px;
  font-weight: 600;
  color: #757575;
}

.skill-details div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 2px solid #757575 ;
}


.skill-background {
  margin-left: 20%;
  margin-top: -50px;
  background-image: url("./images/vscode.png");
  background-repeat: no-repeat;
  height: 450px;
  width: 60%;
  background-size: contain;
  opacity: 0.2;
}

#work{
  padding-top: 20px;
}

.work {
  display: flex;
  height: 700px;
  overflow: hidden;
}

.work-text {
  color: #fff;
  flex: 2;
}

.work-image {
  padding-top: 60px;
  flex: 3;
}

.work-index {
  font-weight: 800;
  font-size: 30px;
}

.work-title {
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 60px;
}

.work-details {
  font-size: 30px;
}

.work-image-wrapper {
  position: relative;
  width: 320px;
  height: 640px;
  background-color: #000;
  transform: rotate(-30deg) skew(25deg) scale(0.4);
  transition: 0.5s; 
  z-index: 9;
}

.web {
  width: 900px;
  height: 450px;
}

.work-image-wrapper:nth-child(2) {
  margin-top: -800px;
  z-index: 5;
}

.work-image-wrapper:nth-child(3) {
  margin-top: -470px;
  margin-left: 245px;
  z-index: 5;
}

.work-image-wrapper:nth-child(4) {
  margin-top: -800px;
  margin-left: 240px;
  z-index: 4;
}

.web:nth-child(1) {
  margin-top: -50px;
  margin-left: -150px;
  z-index: 5;
}

.web:nth-child(2) {
  margin-top: -200px;
  margin-left: -200px;
  z-index: 6;
}

.web:nth-child(3) {
  margin-top: -625px;
  margin-left: 100px;
  z-index: 5;
}

.work-img1 {
  background-image: url("./images/yogalike-explore.jpg");
}

.work-img11 {
  background-image: url("./images/rasa1.png");
}

.work-img2 {
  background-image: url("./images/yogalike-plan.jpg");
}

.work-img21 {
  background-image: url("./images/rasa2.png");
}

.work-img3 {
  background-image: url("./images/yogalike-report.jpeg");
}

.work-img31 {
  background-image: url("./images/rasa3.png");
}

.work-img4 {
  background-image: url("./images/yogalike-profile.jpg");
}

.work-img41 {
  background-image: url("./images/rasa4.png");
}

.work-img12 {
  background-image: url("./images/hotel1.jpg");
}

.work-img22 {
  background-image: url("./images/hotel2.jpg");
}

.work-img32 {
  background-image: url("./images/hotel3.jpg");
}

.work-img1, .work-img2, .work-img3, .work-img4, .work-img11 , .work-img21, .work-img31, .work-img41, .work-img12,.work-img22,.work-img32{
  position: absolute;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: 0.5s;
}

.work-image-wrapper:hover {
  cursor: pointer;
}

.work-image-wrapper:hover div:nth-child(4) {
  transform: translate(80px, -80px);
  opacity: 1;
}

.work-image-wrapper:hover div:nth-child(3) {
  transform: translate(60px, -60px);
  opacity: .8;
}

.work-image-wrapper:hover div:nth-child(2) {
  transform: translate(40px, -40px);
  opacity: .6;
}


.work-image-wrapper:hover div:nth-child(1) {
  transform: translate(20px, -20px);
  opacity: .4;
}
.experience {
  text-align: center;
  align-items: center;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 300px;
  padding: 0 13% ;
}

.experience-title {
  font-size: 60px;
  font-weight: 800;
}

.experience-card ul {
  display: flex;
  background-color: #aa00ff;
  padding: 5px 30px;
  border-radius: 10px;
  list-style: none;
  margin-top: 50px;
}

.mar-minus ul {
  margin-top: 10px;
}

.experience-card ul li {
  background-color: #aa00ff;
}

.experience-card ul li font {
  background-color: #aa00ff;
  font-size: 20px;
  font-weight: 700;
}

.experience-card ul li:nth-child(1) {
  text-align: left;
  flex: 4;
  margin: auto;
}

.experience-card ul li:nth-child(2){
  flex: 2;
  margin: auto;
}

.experience-card ul li:nth-child(3) {
  flex: 1;
}

.e-card-menu, .e-card-menu1 {
  background-color: #aa00ff;
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
}

.e-card-menu span, .e-card-menu1  span {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

.e-card-menu.active span:nth-child(1) , .e-card-menu1.active span:nth-child(1) {
  width: 30px;
  transform: translateY(0px) rotate(90deg);
  transition-delay: 0.125s;
}

.e-card-menu.active span:nth-child(2), .e-card-menu1.active span:nth-child(2) {
  width: 30px;
  transform: translateY(0px) rotate(360deg);
  transition-delay: 0.25s;
}

.e-card-details, .e-card-details1 {
  visibility: hidden;
  transition: all .5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
  overflow: hidden;
  text-align: start;
}

.e-card-details.active, .e-card-details1.active {
  transform: scaleY(1);
  visibility: visible;
  margin-top: 10px;
  background-color: #4a148c;
  padding: 30px;
  border-radius: 10px;
  text-align: start;
  height: fit-content;
}

.e-card-loc {
  background-color: transparent;
  font-weight: 800;
  font-size: 16px;
}

.e-card-txt {
  background-color: transparent;
  margin: 20px 0;
  font-weight: 700;
  font-size: 16px;
}

.e-card-stack {
  display: flex;
  background-color: transparent;
}

.e-card-tech:nth-child(1) {
  margin-left: 0;
}

.e-card-tech {
  background-color: #2962ff;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 20px;
}

.white {
  background-color: #fff;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

footer {
  padding-bottom: 50px;
  background-color: #fff;
}

.contact-wrapper ul {
  margin-top: 100px;
  display: flex;
  position: relative;
  background-color: #fff;
  gap: 25px;
  justify-content: center;
}

.contact-wrapper ul a {
  background-color: transparent;
}

.contact-wrapper ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.contact-wrapper ul li:hover {
  width: 200px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.contact-wrapper ul li::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(45deg,var(--i),var(--j));
  opacity: 0;
  transition: 0.5s;
}

.contact-wrapper ul li:hover::before {
  opacity: 1;
}

.contact-wrapper ul li::after {
  content: '';
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg,var(--i),var(--j));
  opacity: 0;
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
}

.contact-wrapper ul li:hover::after {
  opacity: 0.5;
}

.contact-wrapper ul li span, .contact-wrapper ul li span svg {
  background-color: #fff;
}

.contact-wrapper ul li span span svg {
  transition: 0.5s;
  transition-delay: 0.25s;
}

.contact-wrapper ul li:hover span svg {
  transform: scale(0);
  color: #fff;
  transition: 0s;
}

.contact-title {
  background-color: transparent;
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 5px;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.contact-wrapper ul li:hover .contact-title {
  transform: scale(1);
  transition-delay: 0.25s;
}

.freelance {
  text-align: center;
  padding-top: 40px;
  color: #212121;
  font-size: 30px;
  font-weight: 400;
  background-color: transparent;
}

.freelance a {
  text-decoration: none;
  background-color: #fff;
  color: #212121;
  font-weight: 600;
}




@media only screen and (min-width: 992px) {
  .side-nav {
    display: none;
  }
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .nav-link {
    display: none;
  }

  .hero-name {
    font-weight: 800;
    font-size: 40px;
    color: #fff;
  }
  
  .hero-detail {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
  }

  .scroll-btn {
    display: none;
  }

  .container {
    padding-left: 3%;
    padding-right: 3%;
  }

  .skill-table {
    display: block;
  }

  .skill-card {
    margin-top: 30px;
  }

  .skill-background {
    width: 100%;
    margin-left: 0%;
  }

  .experience {
    padding: 0;
  }

  .experience-card ul li font{
    font-size: 16px;
  }
}